
@{
    ViewData["Title"] = "Index";
}

<h1>Registration Page</h1>

<div class="row">
<div class="card text-white bg-primary col-md-4" style="max-width: 20rem;">
  <div class="card-header">Parent</div>
  <div class="card-body">
    <p class="card-text">We need few deatils about parents, incase we need to contact the we will look at the DB</p>
    <li class="nav-item">
        <a class="nav-link active" href="#"><a class="nav-link text-dark" asp-area="" asp-controller="Parents" asp-action="Index">Parents here </a>
    </li>
  </div>
</div>
<div class="card text-white bg-secondary col-md-4" style="max-width: 20rem;">
  <div class="card-header">Children</div>
  <div class="card-body">
    <p class="card-text">To register Children please click below link</p>
    <li class="nav-item">
        <a class="nav-link active" href="#"><a class="nav-link text-dark" asp-area="" asp-controller="Children" asp-action="Index">Children here </a></a>
    </li>
  </div>
</div>

<div class="card text-white bg-danger col-md-4" style="max-width: 20rem;">
  <div class="card-header">Teacher</div>
  <div class="card-body">
    <p class="card-text">To register teachers please click below link.</p>
    <li class="nav-item">
        <a class="nav-link active" href="#"><a class="nav-link text-dark" asp-area="" asp-controller="Teachers" asp-action="Index">Teahcer here </a></a>
    </li>
  </div>
</div>
</div>

